body {
	font-family: Arial;
	font-size: 62.5%;
	background: #fff;
}
ul, ol, li, h1, h2, h3, h4, h5, h6, form, p {
	margin: 0;
	padding: 0;
}
.top_add {
	background: none repeat scroll 0 0 #DDDDDD;
	border-bottom: 1px solid #A52A2A;
	border-left: 1px solid #A52A2A;
	border-right: 1px solid #A52A2A;
	color: #F0FFFF;
	left: 0;
	padding: 5px 0 6px;
	position: fixed;
	text-align: center;
	top: 0 !important;
	width: 100%;
}
.top_add div.top_add_content {
}
#wrapper_parent {
	margin: 0 auto;
	overflow: hidden;
	width: 1001px;
}
#wrapper {
	margin: 0 auto;
	overflow: hidden;
	width: 1001px;
}
#wrapper_ {
	float: right;
	width: 100%;
}
div.header_part {
	background: #F8F8FF;
	float: left;
	margin-top: 28px;
	width: 100%;
}
.header_part div#header_logo_part {
	float: left;
	width: 100%;
	position: relative;
}
div#header_logo_part .logo_information {
	float: left;
	width: 300px;//
	border-left: 1px solid #7FFFD4;
	background: #FFFFFF;
	height: 50px;
	padding-bottom: 20px;
}
div.logo_information #logo_image {
	float: left;
	width: 100%;
	text-align: center;
}
#header_logo_part .header_search_information {
	float: right;
	margin-top: 20px;
	padding-right: 30px;
	padding-top: 9px;
}
.menucontainer {
	background: -moz-linear-gradient(top,#333,#111);
	background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#111));
	clear: both;
	width: 100%;
	height: 35px;
}
.menucontainer ul li {
	float: left;
	padding: 2px 0;
	width: 200.2px;  /*Extra width don't need to this*/
	text-align: center; /*Extra width don't need to this*/
}
.menucontainer li.active, .menucontainer li:hover {
	border-top: 3px solid #0F67A1;
	background-color: #1C1C1E;
}
.menucontainer li a:hover {//
	color: #15527E;
}
.menucontainer li {
	float: left;
	list-style-type: none;
	position: relative;
	top: -3px;
	border-top: 3px solid transparent
}
.menucontainer ul li a {
	text-decoration: none;
}
.menucontainer li a {
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 15px 9px;
}
.menucontainer ul ul {
	display: none;
	position: absolute;
	top: 30px;
	z-index: 1;
	background: none repeat scroll 0 0 #15527E;
	float: left;
	width: 185px;
}
#wrapper_container {
	float: left;
	position: relative;
}