<div class="top_add">
	<!-- top_add content start-->
	<div class="top_add_content">
		<!--top_add_content start-->
		<h1>Logout & advertisment image and etc goes here</h1>
	</div>
	<!--top_add_content end-->
</div>
<!-- top_add content end-->
