<div id="wrapper_header">
	<!--wrapper_header start-->
	<div class="header_part">
		<!--header_part start-->
		<div id="header_logo_part">
			<!--header_logo_part start-->
			<div class="logo_information">
				<!--logo_information start-->
				<div id="logo_image" style="margin-top:30px;">
					<!--logo_image start-->
					<h1>app { Edge }</h1>
				</div>
				<!--logo_image end-->
			</div>
			<!--logo_information end-->
			<div class="header_search_information">
				<!--header_search_information start-->
				<!--form id="search_information">
				<input type="text" size="30" name="search" value="search"/>
				<input type="button" value="search" />
				</form-->
			</div>
			<!--header_search_information end-->
		</div>
		<!--header_logo_part end-->
		<div id="mainmenus" class="menucontainer">
			<!--menu_container start-->
			<ul class="menu_lists">
				<!--menu_lists start-->
				<li>
					<a title="home" href="#">Home</a>
					<ul>
						<!--sub menus-->
					</ul>
				</li>
				<li>
					<a title="Course" href="course.html">Course</a>
					<ul>
						<!--sub menus-->
					</ul>
				</li>
				<li>
					<a title="Degree" href="#">Degree</a>
					<ul>
						<!--sub menus-->
					</ul>
				</li>
				<li>
					<a title="Information" href="#">Information</a>
					<ul>
						<!--sub menus-->
					</ul>
				</li>
				<li>
					<a title="contact" href="#">Contact</a>
					<ul>
						<!--sub menus-->
					</ul>
				</li>
			</ul>
		</div>
		<!--menu_container end-->
	</div>
	<!--header_part end-->
</div>
<!--wrapper_header end-->
